*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    color: grey;
}

#contanier-vh{
    height: 100vh;
    /*border: 1px solid yellow;*/
}

/*contenitore alto, sinistra, basso, bottone*/
.contanier-spotify{
    height: calc(100% - 80px);    /*-100px dal bottom*/
    background-color: #141922;
    display: flex;
}


/*menù*/
.contanier-sinistra{
    background-color: black;
    height: 100%;
    width: 250px;
}

#ciao-cari-amici-followers-solari{
    height: calc(100% - 100px);
}

/*profilo*/
#account{
    height: 100px;
    padding: 20px;
}

#account .profilo .installa{
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

#account .profilo svg{
    fill: grey;
    height: 20px;
}

#account .profilo .nome-cognome svg{
    background-color: grey;
    fill: white;
    height: 35px;
    border-radius: 50%;
}

#account .profilo .nome-cognome{
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.profilo:hover{
    color: white;
    cursor: pointer;
}


#account-small{
    display: none;
}

/*menù*/
#menu{
    padding: 20px;
}

#menu a{
    text-decoration: none;
    color: grey;
}

#menu a:hover{
    color: white;
}

#menu img{
    padding-bottom: 20px;
}


#voci div{
    padding: 5px;
}

#voci svg{
    width: 25px;
    fill: grey
}

#voci h4{
    padding: 5px;
    color: white;
    text-transform: uppercase;
}

#aggiungi{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: capitalize;
    align-items: center;
}

#aggiungi .aggiungi-brano{
    background-color: grey;
    color: black;
    width: 40px;
    height: 40px;
    font-size: 50px;
    display: flex;
    align-items: center;
}

#aggiungi:hover{
    color: white;
}

#menu-small{
    display: none;
}

/*bottone upgrade*/
.container-bottone{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.container-bottone button{
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 3px solid white;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/*lista album*/
.contanier-album{
    /*border: 1px solid blue;*/
    width: calc(100% - 250px);
    height: 100%;
    overflow: auto;    /*senza questo creato per spacca al pagina*/
}

ul li{
    list-style: none;
}

.opzioni ul{
    display: flex;
    flex-wrap: wrap;    /*per non rompere le opzioni*/
    gap: 20px;
    justify-content: center;
    padding-top: 90px;
    
}

.opzioni a{
    text-decoration: none;
    color: grey;
}

.opzioni a:hover{
    color: white;
    border: none;
}

/*fila album*/
.contanier-album h2{
    color: white;
    padding: 20px;
}

#fila-album{
    /*background-color: red;*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10px;
    gap: 10px;
}

#fila-album .album{
    /*border: 1px solid black;*/
    width: calc((100% / 6) - 10px);
    height: 100%;
    padding-top: 20px;
}

#fila-album img{
    width: 100%;
}


#fila-album h3{
    color: white;
    font-size: 15px;
}

#fila-album span{
    font-size: 13px;
}

/*suggerimenti*/
.per-x span,
.popolari span{
    padding: 20px;
    font-size: 13px;
}

/*piu popolari*/
#piu-popolari{
    padding-bottom: 30px;
}

#piu-popolari #fila-album .album img{
    clip-path: circle(50%);
}

/*footer*/
#container-bottom{
    height: 80px;
    background-color: #282828;
    /*background-color: blue;*/
    position: fixed;
    z-index: 1;
    width: 100%;
}

.play-music{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.left{
    display: flex;
    align-items: center;
    /*background-color: purple;*/
    padding: 20px;
    gap: 20px;
    fill: grey;
}

.left div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.left div span:hover{
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
}

.left h3{
    color: white;
}

.left svg:hover{
    fill: white;
}



#center{
    /*background-color: aqua;*/
    text-align: center;
}

.center{
    display: flex;
    gap: 30px;
    /*background-color: orange;*/
    justify-content: center;
}

.center svg{
    fill: white;    
    height: 50px;
}


.right{
    display: flex;
    align-items: center;
    /*background-color: red;*/
    padding: 20px;
    gap: 20px;
}

.right div svg:hover{
    fill: white;
    cursor: pointer;
}

.right svg{
    fill: grey;    
}

.play-music .left img{
    width: 45px;
    text-align: center;
}


/*spotify*/
@media screen and ( max-width: 1024px ){

    #fila-album{
        /*background-color: blue;*/
    }

    #fila-album .album{
        width: calc((100% / 5) - 10px);
        /*border: 1px solid black;*/
    }

}

/*spotify md*/
@media screen and ( max-width: 768px ){

    #fila-album{
        /*background-color: yellow;*/
    }

    #fila-album .album{
        width: calc((100% / 4) - 10px);
        /*border: 1px solid black;*/
    }

    /*footer*/
    #container-bottom{
    }

    .play-music{
    }

    .left{
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        fill: grey;
        width: 25%;
    }

    .left div{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .left h3{
        color: white;
    }

    #center{
        text-align: center;
        margin: auto;
    }

    .center{
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    .center svg{
        fill: white;    
        height: 50px;
    }


    .right{
        display: flex;
        padding: 10px;
        gap: 5px;
    }

    .right svg{
        fill: grey;
    }

    .play-music .left img{
        width: 45px;
        text-align: center;
    }

}

/*spotify s*/
@media screen and ( max-width: 576px ){

    #fila-album{
        /*background-color: orange;*/
    }

    #fila-album .album{
        width: calc((100% / 2) - 10px);
        /*border: 1px solid black;*/
    }

}

/*spotify xs*/
@media screen and ( max-width: 480px ){

    .contanier-album{
        /*border: 1px solid blue;*/
        width: 100%;
    }
        
    #menu{
        display: none;
    }

    #menu-small{
        display: block;
        padding: 25px;
    }

    .contanier-sinistra{
        width: 80px;
    }
    
    #menu-small img{
        width: 25px;
        padding-bottom: 25px;
    }
    
    #voci-small svg{
        width: 25px;
        fill: grey;
        padding-top: 5px;
    }
    
    #fila-album{
        /*background-color: purple;*/
    }

    #fila-album .album{
        /*border: 1px solid black;*/
    }


    /*profilo*/
    #account{
        display: none;
    }

    #account-small{
        display: block;
        justify-content: center;
        display: flex;
    }

    #account-small .profilo-small svg{
        fill: grey;
        height: 35px;
    }

    #account-small .profilo-small .nome-cognome-small svg{
        background-color: grey;
        fill: white;
        height: 35px;
        border-radius: 50%;
    }



}
