*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

#menu{
    background: black;
    color: grey;
    height: 100vh;
    width: 250px;
    padding: 20px;
}

#menu svg{
    fill: grey;
    height: 16px;
    width: 18px;
}

#menu .opzioni{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#menu h4{
    text-transform: uppercase;
    color: white;
}

/*aggiungi*/

#menu .aggiungi{
    background-color: grey;
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;

}
