*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    color: red;
}

html{
    font-family: 'Roboto', sans-serif;
}

#contenitore{
    border: 3px solid lime;
    height: 100vh;
}

header{
    background-color: grey;
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    z-index: 5;
    position: fixed;
}

header .button{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid white;
    border-radius: 50px;
    text-transform: uppercase;
}

header .button:hover{
    background-color: #333333;
}


#menu{
    background: black;
    color: grey;
    width: 250px;
    height: 100%;
    padding: 20px;
    position: fixed;
    z-index: 10;
}

#voci{
    padding-top: 20px;
}

#voci div{
    padding: 5px;
}

#voci svg{
    width: 16px;
    fill: grey
}

#voci h4{
    padding: 5px;
    color: white;
    text-transform: uppercase;
}

#aggiungi{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: capitalize;
}

#aggiungi .aggiungi-brano{
    background-color: grey;
    color: black;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 22px;
}

section{
    padding-top: 100px;
    padding-left: 250px;
}

#opzioni ul{
    background-color: orange;
    color: #73757b;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
}

#opzioni ul li{
    list-style: none;
}

.tasto:hover{
    border-bottom: 3px solid green;
    
}








footer{
    color: blueviolet;
    padding-top: 500px;
    padding-left: 250px;
}